/* 改变主题色变量 */
$--color-primary: #2d5a27 !default; // 深茶绿
$--color-success: #6ab04c !default;
$--color-warning: #f0932b !default;
$--color-danger: #eb4d4b !default;
$--color-info: #95afc0 !default;

$--border-radius-base: 8px !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";